{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "supers" : "User ID={DbUserId};Password={password};Host=localhost;Port={port};Database=supers;"
  }
}