{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "supersPGSQL" : "User ID={DbUserId};Password={password};Host={host};Port={port};Database=supers;",
    "supersSQLSR" : "Data Source={host};Initial Catalog=supers;user id={DbUserId};password={password}",
    "dbEngine" : "{Engine}" 
  }
}
